html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  padding-top: 70px;
  padding-bottom: 10px;
}

.toast-success {
    background-color: #198754 !important;  /* Bootstrap green */
    color: #fff !important;
}

.toast-error {
    background-color: #dc3545 !important;  /* Bootstrap red */
    color: #fff !important;
}

.toast-info {
    background-color: #0dcaf0 !important;  /* Bootstrap cyan */
    color: #000 !important;
}

.toast-warning {
    background-color: #ffc107 !important;  /* Bootstrap yellow */
    color: #000 !important;
}
