@model ClearCare.Models.Entities.M3T1.Feedback

@{
    ViewData["Title"] = "Update Feedback";
    var feedback = Model.GetFeedbackDetails();
}

<div class="container">
    <div class="card shadow p-4">
        <h2 class="text-info mb-3">Edit Feedback</h2>
        <form action="/Feedback/Edit/@feedback["Id"]" method="post">
            <div class="table-responsive">
                <table class="table table-bordered feedback-table">
                    <tbody>
                        <tr>
                            <th>Feedback Content:</th>
                            <textarea name="content" class="form-control" required>@feedback["Content"]</textarea>
                        </tr>
                        <tr>
                            <th>Rating:</th>
                            <td>
                                <select name="rating" class="form-control" required>
                                    <option value="5">5: Excellent</option>
                                    <option value="4">4: Good</option>
                                    <option value="3">3: Fair</option>
                                    <option value="2">2: Poor</option>
                                    <option value="1">1: Very Poor</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var selectedRating = "@feedback["Rating"]";
        var ratingDropdown = document.querySelector('select[name="rating"]');

        if (ratingDropdown) {
            ratingDropdown.value = selectedRating;
        }
    });
</script>