@model ClearCare.Models.Entities.M3T1.Resource

@{
    ViewData["Title"] = "Update Resource";
}

@if (Model == null)
{
    <div class="alert alert-danger">Error: Resource not found.</div>
}
else
{
    var resource = Model.GetDetails();

	<div class="container update-resource">
		<div class="card card-body">
			<h3 class="text-info font-weight-bold">Update Resource</h3>
			<form method="post" action="/Resource/Edit/@resource["Id"]" enctype="multipart/form-data">
				<div class="row">
					<div class="col-lg-9">
						<div class="md-form md-outline">
							<label for="title">Title</label>
							<input class="form-control w-50" type="text" name="title" id="title" value="@resource["Title"]" required>
						</div>
						<div class="md-form md-outline">
							<label for="description">Description</label>
							<textarea class="form-control" id="description" name="description" rows="7" required>@resource["Description"]</textarea>
						</div>
						<div class="md-form md-outline">
							<label for="targetUrl">Article link</label>
							<input class="form-control w-50" type="url" name="targetUrl" id="targetUrl" value="@resource["TargetUrl"]" required />
						</div>
						<div class="mt-2">
							<label for="videoFile">Upload a Video</label>
							<input type="file" name="videoFile" accept="video/mp4,video/wav" id="videoFile" />
						</div>
					</div>
					<div class="col-lg-3">
						<label class="fst-italic">Cover Image (Optional)</label>
						<div class="custom-file">
							<div class="files-upload" data-autosubmit="false">
								<div class="wrapper">
									<div class="card-text">
										<i class="bi bi-5x bi-card-image"></i>
										<p class="font-weight-bolder">No Image Uploaded</p>
									</div>
									<div class="preview">
										<img class="poster" src="~/img/placeholder.jpg"> @* Change to uploaded image *@
										<div class="infos d-none">
											<div class="infos-inner">
												<p class="filename"></p>
												<a type="button" class="btn btn-sm btn-success">Change image</a>
											</div>
										</div>
									</div>
									<button type="button" class="remove btn btn-sm btn-danger d-none">Remove</button>
								</div>
								<input type="file" name="resourceFile" accept="image/png,image/jpeg,image/jpg,image/gif">
							</div>
						</div>
					</div>
				</div>
				<a href="/Resource" class="btn btn-danger">Cancel</a>
				<button type="submit" class="btn btn-success">
					Update
				</button>
			</form>
		</div>
	</div>

	<script src="~/js/previewFile.js" asp-append-version="true"></script>
}
