@model ClearCare.Models.Entities.Feedback

@{
    ViewData["Title"] = "View Feedback";
    var feedback = Model.GetFeedbackDetails();
}

<div class="container view-feedback">
    <div class="card shadow p-4">
        <h2 class="text-info mb-3">Feedback From {patient name}</h2>
        <div class="table-responsive">
            <table class="table table-bordered feedback-table">
                <tbody>
                    <tr>
                        <th>Patient details</th>
                        <td>
                            <p class="mb-3"><strong>Name:</strong>{name}</p>
                            <p class="mb-3"><strong>Date of Birth:</strong>{DOB}</p>
                            <p class="mb-3"><strong>ID:</strong>{ID}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>Date Created:</th>
                        <td>@feedback["DateCreated"]</td>
                    </tr>
                    <tr>
                        <th>Content:</th>
                        <td>
                            @feedback["Content"]
                        </td>
                    </tr>
                    <tr>
                        <th>Rating:</th>
                        <td>
                            @feedback["Rating"]
                        </td>
                    </tr>
                    <tr>
                        <th>Response:</th>
                        <td>
                            @feedback["Response"]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>