@{
    ViewData["Title"] = "Medical Records";
    var userRole = Context.Session.GetString("Role");
    var medicalRecords = ViewData["MedicalRecords"] as List<dynamic>;
}

<h1>@ViewData["Title"]</h1>

@if (userRole == "Doctor")
{
    <a class="btn btn-primary" asp-controller="ManageRecord" asp-action="DisplayCreateRecord">
        <i class="bi bi-plus-circle"></i> Create Medical Record
    </a>

    <a class="btn btn-primary" asp-controller="ManageRecord" asp-action="DisplayUpdateRecord">
        <i class="bi bi-pencil-square"></i> Update Medical Record
    </a>
}

@model List<ClearCare.Models.Entities.MedicalRecord>


<table class="table">
    <thead>
        <tr>
            <th>Medical Record ID</th>
            <th>Patient ID</th>
            <th>Created By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in medicalRecords)
        {
            <tr>
                <td>@record.MedicalRecordID</td>
                <td>@record.PatientID</td>
                <td>@record.CreatedBy</td>
                <td>
                    <a href="/ViewRecord/@record.RecordID" class="btn btn-primary">View More Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

