    <footer class="border-top footer text-muted">
        <div class="container p-3">
            &copy; 2025 <a asp-area="" asp-controller="Home" asp-action="Index">ClearCare</a> All Rights Reserved
        </div>
    </footer>