@{
    var userRole = Context.Session.GetString("Role");
}
<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ClearCare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i
                            class="bi bi-house me-1"></i>Home</a>
                </li>
                @if (userRole == "Doctor"){
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ServiceTypeInput" asp-action="Index">Service Type</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/ServiceAppointments/Index">
                            <i class="bi bi-calendar-week me-1"></i>Appointments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="ServiceHistory" asp-action="Index">Service History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Analytics" asp-action="Appointments">
                            <i class="bi bi-bar-chart me-1"></i> Appointments Analytics
                        </a>
                    </li>
                }
                @if (userRole == "Nurse"){
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="NurseAvailability" asp-action="Index">Nurse Availability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="ServiceHistory" asp-action="Index">Service History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ServiceCompletionInput" asp-action="GetAppointmentDetails"><i class="bi bi-check-circle me-1"></i>Service Completion</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown my-auto">
                    <a class="btn text-white dropdown-toggle" href="#" id="profile-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person me-1"></i>Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-primary mt-1" aria-labelledby="profile-dropdown" style="z-index: 1050;">
                        <a class="dropdown-item" asp-controller="NotificationPreference" asp-action="Index"><i class="bi bi-gear me-1"></i>Settings</a>
                        <a class="dropdown-item text-danger" asp-controller="Login" asp-action="Logout"><i class="bi bi-box-arrow-right me-1"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
