

@{
    ViewData["Title"] = "Add Summary";
}

<div class="container add-summary">
    <div class="card shadow p-4">
        <h2 class="text-info mb-3">Adding New Summary for {patient name}</h2>
        <form action="/Summary/Add" method="post">
            <div class="table-responsive">
                <table class="table table-bordered summary-table">
                    <tbody>
                        <tr>
                            <th>Patient details</th>
                            <td>
                                <p class="mb-3"><strong>Name:</strong>{name}</p>
                                <p class="mb-3"><strong>Date of Birth:</strong>{DOB}</p>
                                <p class="mb-3"><strong>ID:</strong>{ID}</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Date of Discharge:</th>
                            <td>@DateTime.Now.ToString("yyyy-MM-dd")</td>
                        </tr>
                        <tr>
                            <th>Procedures and Details</th>
                            <td>
                                <textarea name="details" class="form-control" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>Follow-up instructions:</th>
                            <td>
                                <textarea name="instructions" class="form-control" required></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center>">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
    </div>
</div>


