@model ClearCare.Models.Entities.M3T1.DischargeSummary

@{
    ViewData["Title"] = "View Summary";
    var summary = Model.GetSummaryDetails();
}

<div class="container view-summary">
    <div class="card shadow p-4">
        <h2 class="text-info mb-3">Discharge Summary for {patient name}</h2>
            <div class="table-responsive">
                <table class="table table-bordered summary-table">
                    <tbody>
                        <tr>
                            <th>Patient details</th>
                            <td>
                                <p class="mb-3"><strong>Name:</strong>{name}</p>
                                <p class="mb-3"><strong>Date of Birth:</strong>{DOB}</p>
                                <p class="mb-3"><strong>ID:</strong>{ID}</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Date of Discharge:</th>
                            <td>@summary["CreatedAt"]</td>
                        </tr>
                        <tr>
                            <th>Procedures and Details</th>
                            <td>
                            @summary["Details"]
                            </td>
                        </tr>
                        <tr>
                            <th>Prescriptions</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Follow-up instructions:</th>
                            <td>
                            @summary["Instructions"]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>