@model List<Dictionary<string, object>>

@{
    ViewData["Title"] = "View Patient Summaries";
}

<section class="summary container">
    <h2>Patient Discharge Summaries</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a role="button" href="/Summary/Add" class="btn btn-md btn-success">
            Add Summary<i class="bi bi-plus ms-1"></i>
        </a>

        <div class="ms-auto">
            <input type="text" class="form-control" id="search" placeholder="Search by patient..." />
        </div>
    </div>
    <div class=" table-responsive table-hover w-100">
        <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Date Created</th>
                    <th>Patient ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var summary in Model)
                {
                    <tr class="animated faster summaries" data-name="@summary["PatientId"]">
                        <td class="align-middle">@summary["CreatedAt"]</td>
                        <td class ="align-middle">@summary["PatientId"]</td>
                        <td class="align-middle">
                            <a href="/Summary/View/@summary["Id"]" class="btn btn-sm btn-primary"><i class="bi bi-eye me-2"></i>View</a>
                            <a href="/Summary/Edit/@summary["Id"]" class="btn btn-sm btn-success"><i class="bi bi-pencil-square me-2"></i>Edit</a>
                            <a href="#" class="btn btn-sm btn-danger btn-delete" data-id="@summary["Id"]" data-target="#deleteModal" data-toggle="modal"><i class="bi bi-trash me-2"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Summary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                Are you sure you want to delete this summary?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    <input type="hidden" id="deleteId" name="id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.btn-delete').click(function(){
            let summaryId = $(this).data('id')
            $('#deleteId').val(summaryId)
            $('#deleteForm').attr('action', '/Summary/Delete/' + summaryId)
            $('#deleteModal').modal('show')
        })

        $("#search").on("keyup", function () {
            let rows = $(".summaries")
            let input = $("#search").val()
            let filter = input.toUpperCase()

            for (let i = 0, n = rows.length; i < n; i++){
                let focus = $(rows[i])
                let compare = String($(focus).data("name") || "").toUpperCase();

                if (compare.includes(filter)){
                    if ($(focus).hasClass('d-none')) {
                        $(focus).removeClass('d-none');
                        $(focus).fadeIn(500);
                    }
                }
                else {
                    if (!$(focus).hasClass('d-none')){
                        $(focus).fadeOut(500, function(){
                            let _this = $(this);

                            _this.addClass('d-none');
                        })
                    }
                }
            }
        })
    })
</script>

