@using ClearCare  

@{
    ViewData["Title"] = "Log Interaction";
}

<div class="container py-4">
    <h1 class="mb-4">Log Interaction</h1>

    <form asp-action="Upload" method="post">
        <div class = "flex" style = "display: flex !important;">
            <div class="mb-1 w-50 pe-2">
                <label for="DrugName1" class="form-label">Drug Name 1</label>
                <input type="text" class="form-control" id="DrugName1" name="DrugName1" required>
            </div>

            <div class="mb-1 w-50 ps-2">
                <label for="DrugName2" class="form-label">Drug Name 2</label>
                <input type="text" class="form-control" id="DrugName2" name="DrugName2" rows="3" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="Interaction" class="form-label">Interaction</label>
            <textarea class="form-control" id="interaction" name="interaction" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Log Interaction</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
