@model ClearCare.Models.Entities.M3T1.Assessment

<h2 class="mb-2">Submit living condition for assessment</h2>

<section class="container">
    <form method="post" asp-action="Add" enctype="multipart/form-data">

        <!-- File Upload -->
        <div class="form-group mt-2">
            <label for="file">Upload File (Image or Video)</label>
            <input type="file" class="form-control" id="file" name="file"
                   accept="image/*,video/*" required />
            <small class="form-text text-muted text-danger">Only one file allowed.</small>
        </div>

        <div class="form-group mt-2 text-right">
            <button type="submit" class="btn btn-success">Submit image for Assessment</button>
            <a asp-action="List" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</section>
